{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "plugins": ["prettier"],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prettier/prettier": "error"
    }
}